<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>learning log</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</head>

<body>
<div class="conteiner">
    <div role="navigation">
        <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="{% url 'index' %}" class="text-reset text-decoration-none btn btn-link">LEARNING LOG</a></li>
                <li role="presentation"><a href="{% url 'topics' %}" class="text-reset text-decoration-none btn btn-link">tópicos</a></li>
                {% if user.is_authenticated %}
                    <p class="navbar-text">Olá, {{ user.username }}!</p>
                    <li role="presentation"><a href="{% url 'logout' %}" class="text-reset text-decoration-none btn btn-link">sair</a></li> <!--manda pra rota logout que manda pra view logout-->
                {% else %}
                    <li role="presentation"><a href="{% url 'register' %}" class="text-reset text-decoration-none btn btn-link">cadastre-se</a></li>
                    <li role="presentation"><a href="{% url 'login' %}" class="text-reset text-decoration-none btn btn-link">entrar</a></li>
                {% endif %}
        </ul>
    </div>
</div>

{% block content %}{% endblock content %}


</body>
</html>