{% extends "learning_logs/base.html" %}


{% block content %}

    <ul class="list-group">
        {% for topic in topics %}
            <li class="list-group-item">
                <a href="{% url 'topic' topic.id %}" class="text-reset text-decoration-none"> {{ topic }} </a>
            </li>
        {% empty %}
            <li class="list-group-item">não há tópicos</li>
        {% endfor %}
    </ul>

    <a href="{% url 'new_topic' %}" class="text-reset btn btn-link"">Adicionar novos tópicos</a>

{% endblock content %}